.faqDropdown{
    margin-top:0px;
    margin-right:0px;
    margin-bottom:8.0pt;
    margin-left:0px;
    span{
      font-size: 18px;
        a{
            text-decoration: underline;
             color: blue;
        }
    }
}